Flask==2.3.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.0
python-dotenv==1.0.0
# MongoDB
pymongo==4.5.0
Flask-PyMongo==2.3.0

# MySQL
mysqlclient==2.1.1
# 额外工具
Flask-Login==0.6.2
PyJWT==2.8.0 

# 性能监控和数据分析
psutil==5.9.5
scikit-learn==1.3.0 